{% extends 'layout/base.html' %}

{% block titulo %}
    Veterinaria Home
{% endblock titulo %}

{% block pagina %}
    Home
{% endblock pagina %}

{% block cuerpo %}
    <div class="row">
        <div class="col text-center">
            <h1>VETERINARIA PET + PLUS + VET</h1>
        </div>    
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Bienvenido a PET + PLUS + VET tu veterinaria de confianza. Si eres Doc. Veterinario ingresa como administrador. 
                Si eres dueño de alguna mascota ingresa como usuario.</p>
        </div>
    </div>
{% endblock cuerpo %}
