{% extends 'layout/base.html' %}

{% block titulo %}
    Eliminar Cliente
{% endblock titulo %}

<!--Un titulo que hereda de base.html-->
{% block pagina %}
   Eliminar un cliente
{% endblock pagina %}

{% block cuerpo %}
    <form method="post">
        {% csrf_token %}
        <p class "h2 navbar-brand"> Eliminar cliente {{cliente.personas.user.first_name}} {{cliente.personas.user.last_name}} del registro</p>
        {% include 'layout/botones_eliminar.html' %}
        <a href="{% url 'lista-clientes' %}" class="btn btn-default">Cancelar</a>
    </form>
{% endblock cuerpo %}