<!--Se trae la extención de la base-->
{% extends 'layout/base.html' %}

<!--Se nombre la pagina con lo que hereda de base.html-->
{% block titulo %}
    Listar Cliente
{% endblock titulo %}

<!--Un titulo que hereda de base.html-->
{% block pagina %}
    Clientes
{% endblock pagina %}

<!--se herrada lo del cuenpo de base.html-->
{% block cuerpo %}
    <a href="" class="btn btn-primary mb-3">Ingresar Cliente</a>
    <div class="table-responsive">
        <table class="table table-striped-column">
            <tr>
                <th>ID</th>           
                <th>Nombre Clente</th>
                <th>Numero Documento</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Opciones</th>
            </tr>
            {% for cliente in  clientes%}
            <tr>
                <td></td>
                <td></td>             
                <td></td>            
                <td></td>
                <td>
                    <a href="" class="btn btn-warning">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>          
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock cuerpo %}